/* body {
    background-image: url(../images/bus2.jpg);
} */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30vh;
}
img {
    height: 55vh;
    width: 100%;
    margin-bottom: 80px;
}